<h2> ID <%= @carros.id %> </h2>

<h4> Propietario <%= @carros.id_Propietario %> <h4>
<br>
<h4> Marca <%= @carros.marca %> <h4>
<br>
<h4> Matricula <%= @carros.matricula %> <h4>
<br>
<h4> Color <%= @carros.color %> <h4>