<div id="<%= dom_id moto %>">
  <p>
    <strong>Id propietario:</strong>
    <%= moto.id_propietario %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= moto.marca %>
  </p>

  <p>
    <strong>Matricula:</strong>
    <%= moto.matricula %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= moto.color %>
  </p>

</div>
